---
Name: tagmanager
After:
  - requestprocessors
---
SilverStripe\Core\Injector\Injector:
  SilverStripe\Control\Director:
    properties:
      Middlewares:
        TagInjectionMiddleware: '%$SilverStripe\TagManager\Middleware\TagInjectionMiddleware'
